<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DevengersIRG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A96C8B41C80801300F0566B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A96C8C81C80801300F0566B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A96C8D31C80801300F0566B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
